header{
    height: 60px;
    width: 1200px;
    background-color: red;
    float: left;
    list-style: none;
}
nav{
    height: 300px;
    width: 1200px;
    background-color: darkred;
    float: left;
    list-style: none;
}
.datos
{
    background-color: white;
    width: 1180px;
    height: 30px;
    float: left;
    margin: 10px;
}
.info
{
    background-color: white;
    width: 1180px;
    height: 220px;
    float: left;
    margin: 10px;
    list-style: none;
}
main
{
    height: 200px;
    width: 1200px;
    background-color: orangered;
    float: left;
    list-style: none;
}
.foto
{
    height: 180px;
    margin: 10px;
    border: 10px;
    float: left;
    background-color: white;
    width: 200px;
}
div{
    height: 180px;
    margin: 5px;
    border: 5px;
    float: left;
    width: 200px;
}
.nombre
{
    background-color: white;
    width: 700px;
    height: 30px;
    float: left;
    margin: 10px;
}
.completo
{
    background-color: white;
    width: 700px;
    height: 120px;
    float: left;
    margin: 10px;
    list-style: none;
}
footer
{
    background-color: darkred;
    width: 1200px;
    height: 50px;
    float: left;
}
.ubicacion{
    height: 180px;
    margin: 10px;
    margin-right: 20px;
    float: right;
    background-color: white;
    width: 220px;
}